* {
  margin: 0;
  padding: 0;
  font-family: 'Barlow';
  box-sizing: border-box;
}

button:active {
  transform: translateY(2px);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
